.divWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 2px black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.item:nth-child(1){
    font-size: 3rem;
}

.item:nth-child(2){
    display: flex;
    flex-direction: row;
}